.card__like-button {
    background-image: url(../../../images/like.svg);
    border: none;
    background-color: #fff;
    width: 22px;
    height: 19px;
    cursor: pointer;
    padding: 0;
    margin: 0 20px 0 0;
}

.card__like-button:hover {
    opacity: 0.6;
}