.popup__cards {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}